

.team-img h4{
    margin: 22px 0 8px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff !important;
}
.team-img h5 {
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 10px;
}
.team-img p {
    color: #ffffff;
    font-size: 13px;
    line-height: 1.8em;
    margin-bottom: 7px;
}
.team-img ul{
margin-top:8px;
}
.team-img ul li{
list-style-type:none;
display:inline-block;
margin-left:5px;
}
.team-img ul li a{
width:24px;
height:24px;
display:block;
}
.team-img ul li a.fb{
 background:url('../images/img-sp.png') no-repeat 0px 0px;
}
.team-img:hover.team-img ul li a.fb{
 background:url('../images/img-sp.png') no-repeat 0px -27px;
}
.team-img ul li a.twitt{
 background:url('../images/img-sp.png') no-repeat -26px 0px;
}
.team-img:hover.team-img ul li a.twitt{
 background:url('../images/img-sp.png') no-repeat -26px -27px;
}
.team-img ul li a.goog{
 background:url('../images/img-sp.png') no-repeat -52px 0px;
}
.team-img:hover.team-img ul li a.goog{
 background:url('../images/img-sp.png') no-repeat -52px -27px;
}
.team-img ul li a.drib{
 background:url('../images/img-sp.png') no-repeat -78px 0px;
}
.team-img:hover.team-img.team-img ul li a.drib{
 background:url('../images/img-sp.png') no-repeat -78px -27px;
}
.team-img ul li a:hover{
	transform:rotateY(360deg);
}

.mission-gd {
    padding-bottom: 90px;
}
.ih-item.circle.effect1 .spinner {
    border: 10px solid #6a0dad ;
    border-right-color: #9E9E9E;
    border-bottom-color: #9E9E9E;
    width: 135px;
    height: 135px;
}


.ih-item.circle.effect1 .spinnercf {
    border: 10px solid #8c0000e0;
    border-right-color: rgb(158, 158, 158);
    border-bottom-color: #9E9E9E;
    width: 160px;
    height: 160px;
}


   
.ih-item.circle {
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 0 auto;
}
.team {
    padding: 90px 0;
}
.team-grids {
    margin-top: 70px;
}
.team-img {
	
    border-top: 2px solid transparent;
}


#cfimg:hover  {
    border-top: 2px solid #8c0000e0;	
    background:rgba(255, 109, 51, 0.658);
    }























	